{% extends "base.html.twig" %}

{% block content %}
    <div class="container text-center">
        <div class="row m-4">
            <h1>Sudoku Solver</h1>
        </div>

        {% include "modules/sudoku.html.twig" %}
    </div>
{% endblock %}