<div class='col'>
    <div class='square border'>
        <input name="cell[{{ cell.id }}]" class='content text-center border-0 h-100'
               type='number' min='1' max='{{ sudoku.SIZE }}' value="{{ cell.number }}"/>
    </div>
</div>