<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}
        <title>Sudoku Solver</title>
    {% endblock %}
    {% block stylesheets %}
        <link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="public/css/style.css" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>