<div class="col border border-dark">
    {% for cell in block.cells %}
        {% if cell.id == 0 or cell.id % 3 == 0 %}
            <div class="row g-0">
        {% endif %}

        {% include 'components/cell.html.twig' %}

        {% if (cell.id + 1) % 3 == 0 %}
            </div>
        {% endif %}
    {% endfor %}
</div>